---
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/docs"
site_dir: "site"
site_name: "graphene-django-observability"
site_url: "https://slydien.github.io/nautobot-app-graphql-observability/"
repo_url: "https://github.com/slydien/nautobot-app-graphql-observability"
copyright: "Copyright &copy; The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "content.action.edit"
    - "content.action.view"
    - "content.code.copy"
    - "navigation.footer"
    - "navigation.indexes"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "navigation.tracking"
    - "search.highlight"
    - "search.share"
    - "search.suggest"
  favicon: "assets/favicon.ico"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

extra:
  generator: false
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/slydien/nautobot-app-graphql-observability"
      name: "GitHub Repository"
    - icon: "fontawesome/brands/python"
      link: "https://pypi.org/project/graphene-django-observability/"
      name: "PyPI"
markdown_extensions:
  - "markdown_version_annotations":
      admonition_tag: "???"
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.details"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences":
      custom_fences:
        - name: "mermaid"
          class: "mermaid"
          format: !!python/name:pymdownx.superfences.fence_code_format
  - "footnotes"
plugins:
  - "search"
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
            show_root_heading: true
watch:
  - "README.md"

validation:
  omitted_files: "warn"
  absolute_links: "warn"
  unrecognized_links: "warn"
  anchors: "warn"

nav:
  - Overview: "index.md"
  - User Guide:
      - Overview: "user/app_overview.md"
      - Getting Started: "user/app_getting_started.md"
      - Use Cases: "user/app_use_cases.md"
      - External Integrations: "user/external_interactions.md"
      - FAQ: "user/faq.md"
  - Administrator Guide:
      - Install & Configure: "admin/install.md"
      - Upgrade: "admin/upgrade.md"
      - Uninstall: "admin/uninstall.md"
      - Compatibility Matrix: "admin/compatibility_matrix.md"
      - Release Notes:
          - "admin/release_notes/index.md"
          - v1.0: "admin/release_notes/version_1.0.md"
  - Developer Guide:
      - Extending: "dev/extending.md"
      - Contributing: "dev/contributing.md"
      - Development Environment: "dev/dev_environment.md"
      - Release Checklist: "dev/release_checklist.md"
      - Architecture Decisions: "dev/arch_decision.md"
      - Code Reference:
          - "dev/code_reference/index.md"
          - Package: "dev/code_reference/package.md"
          - API: "dev/code_reference/api.md"
